body {
    background-color: #DCDCDC;
}

#wrap {
    background-color: rgb(244, 244, 246);
}

img {
    position: relative;
}

.padding-top-5px {
    padding-top: 5px;
    width: 100%;
}

.card-img {
    height: 390px;
    overflow: hidden;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}
